.myAnchor {
  color: blue;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: purple;
  }
}

md-grid-tile {
  transition: all 500ms ease-out 100ms;
  overflow: hidden;
  //height:300px;
  img.landscape {
    width: auto;
    height: 100%;
  }
  img.portrait {
    width: 100%;
    height: auto;
  }
}

.md-button.md-fab.md-mini {
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
}

.selection-range {
  width: 100%;
  height: 100%
}

.md-toolbar-tools {
  width: 100%
}

.media-toolbar-btn {

}

.media-toolbar-btn-wrapper {
  right: 40px;

}

.groupX {
  font-size: 12px;
  margin: 10px 0;
  color: rgb(49, 46, 46);
  background-color: rgba(224, 224, 224, 0.96);
  text-transform: none;
  font-weight: 400;
}

.md-button {
  //&:first-child {
  //  border-radius: 10px 0 0 10px;
  //}
  //&:last-child {
  //  border-radius: 0 10px 10px 0;
//  }

}

.bg-tile {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.unselected-tile {
  background: rgba(0, 0, 0, 0.18) !important;
}

.selected-tile {
  background: rgba(225, 0, 12, 0.7) !important;
}

.more-style {
  color: #000
}
.vt-container{
  height:600px;
  width:1200px;
}
/*  virtual table row / col definition */
.vt-row {height:270px}
.vt-col {
  //transition: all 500ms ease-out 100ms;
  width:380px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 10px 0px 0px;
  position: absolute;
  background-color: black;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

/*  style for img tile container gallery view */
.photo-header, .photo-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  color: #fff;
  background: rgba(0, 0, 0, 0.0);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 400;
  margin: 0 0 0 0;
  &:hover {
    background: rgba(0, 0, 0, 0.18);
  }
}
.photo-header  {
  top: 0;
}

.photo-footer {
  bottom: 0;
}

.photo-header-text {
  color : rgba(0, 0, 0, 0.18);
  margin-left: 17px;
}

.md-action-button {
  margin-left:50px;
  text-transform: none;
  padding-left:15px;
  padding-right:15px;

}

.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px;
}
.chipsdemoCustomInputs input[type=number] {
  width: 110px; }
.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }

.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
.chipsdemoCustomInputs .veggie-option .md-item-text h3, .chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }


