<md-content layout="column">
  <md-list class="table-fixed-width md-whiteframe-z1">
    <md-list layout="row">
      <md-subheader flex></md-subheader>
      <md-subheader flex>Directory</md-subheader>
      <md-subheader flex>Make</md-subheader>
      <md-subheader flex>Model</md-subheader>
      <md-subheader flex>datePick</md-subheader>
      <md-subheader flex>Orientation</md-subheader>
    </md-list>
    <md-divider></md-divider>
    <md-virtual-repeat-container style="height:400px">
      <md-list-item md-virtual-repeat="row in vm.rows.vals" class="repeated-item" flex="">
        <md-list flex layout="row">
          <md-list-item flex><img ng-src="{{::row.destDir}}"></md-list-item>
          <md-list-item flex>{{::row.Directory}}</md-list-item>
          <md-list-item flex>{{::row.Make}}</md-list-item>
          <md-list-item flex>{{::row.Model}}</md-list-item>
          <md-list-item flex>{{::row.datePick}}</md-list-item>
          <md-list-item flex>{{::row.Orientation}}</md-list-item>
        </md-list>
        <md-divider flex></md-divider>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
</md-content>
