<div class="page-layout carded fullwidth single-scroll ng-scope layout-row" layout="row">

  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center flex" flex="">

    <!-- CONTENT HEADER -->
    <div class="header">
      <span class="h1 white-fg">File Upload</span>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CARD HEADER -->
      <form name="uploadForm">

        <div class="toolbar layout-align-start-center layout-row" layout="row" layout-align="start center">
        <span>

          <!-- UPLOAD BUTTON   -->
                      <button
                        type="file"
                        class="md-fab md-mini md-button  md-primary  md-ink-ripple"
                        name="fileSelector"
                        ngf-select="onFileSelect($files)"
                        ng-model="mfiles"

                        ngf-multiple="true"
                        aria-label="Select media files for upload">
                        <i class="material-icons item-upload-icon">folder_open</i>
                        <md-tooltip><span>Select media files for upload</span></md-tooltip>
                        <div class="md-ripple-container"></div>
                      </button>

            Select Files
          </md-button>
        </span>
        </div>

        <div flex="" layout-wrap="" layout="row" layout-fill=""
             layout-align="space-between center">
          <div layout="column" layout-fill layout-align="center center">

            <div flex="200" layout-align="center center">

              <!-- DISPLAY WHEN INVALID FILE SELECTION  -->
              <p ng-if="uploadForm.$invalid && uploadForm.$dirty" class="alert alert-danger">
                <b> Invalid file selection</b> File selection limited to media types, no more than 20MB each
              </p>

              <!-- DISPLAY WHEN NO FILE SELECTION  -->
              <p ng-if="!uploadForm.$invalid && !uploadForm.$dirty" class="alert alert-danger ">
                <span class="upload-msg">No files Selected</span>
              </p>

              <!-- DISPLAY WHEN VALID FILE SELECTION  -->
              <div ng-if="!uploadForm.$invalid && uploadForm.$dirty" class="upload-table-wrapper">

                <table class="table simple list-view upload-table">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th ng-show="isHTML5">Size</th>
                    <th ng-show="isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="item in stat.items " ng-show="stat.items[$index].isIncludeInList">
                    <td><img ngf-thumbnail="stat.items[$index].file"
                             ngf-size="{width: 100, height: 68, quality: 0.9}"/></td>

                    <!-- TODO: ADD IMAGE EDIT FUNCTIONALITY  -->
                    <!--<td>-->
                    <!--<md-button-->
                    <!--title="Open image in editor"-->
                    <!--class="btn btn-info btn-xs"-->
                    <!--ng-disabled="stat.items[$index].isUploading || stat.items[$index].isSuccess" >-->
                    <!--<span class="glyphicon glyphicon-edit"></span> Edit Image-->
                    <!--</md-button>-->
                    <!--{{ item.file.name }}-->

                    <!--</td>-->
                    <td ng-show="isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="isHTML5">

                      <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>

                    </td>
                    <td class="text-center">
                      <span ng-show="stat.items[$index].isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                          <span ng-show="stat.items[$index].isCancel"><i
                            class="glyphicon glyphicon-ban-circle"></i></span>
                      <span ng-show="stat.items[$index].isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>


                      <!-- Per file / row upload control buttons -->
                      <button class="md-fab md-mini md-button  md-primary  md-ink-ripple" type="button"
                              aria-label="Upload individual item"
                              ng-click="onUploadTriggered($index)"
                              ng-disabled="stat.items[$index].isUploading || stat.items[$index].isSuccess">
                        <i class="material-icons item-upload-icon">file_upload</i>
                        <md-tooltip><span>Upload individual item</span></md-tooltip>
                        <div class="md-ripple-container"></div>
                      </button>

                      <button class="md-fab md-mini md-button  md-primary  md-ink-ripple" type="button"
                              aria-label="Cancel individual file upload"
                              ng-click="cancelSingleFile($index)" ng-disabled="!stat.items[$index].isUploading">
                        <i class="material-icons item-upload-icon">cancel</i>
                        <md-tooltip><span>Cancel individual file upload</span></md-tooltip>
                        <div class="md-ripple-container"></div>
                      </button>

                      <button class="md-fab md-mini md-button  md-primary  md-ink-ripple"
                              type="button"
                              ng-click="removeSingleFile($index)"
                              ng-disabled="stat.items[$index].isUploading || stat.items[$index].isSuccess">
                        <i class="material-icons item-upload-icon">delete</i>
                        <md-tooltip><span>Remove file from list</span></md-tooltip>
                        <div class="md-ripple-container"></div>
                      </button>


                    </td>
                  </tr>
                  </tbody>
                </table>

                <div layout="row" layout-align="space-between center">
                  <!--The left side-->
                   <span>
                    <p class="upload-msg"> {{ FileList.length }} File(s) Selected</p>
                  </span>
                  <!-- middle -->
                  <span>
                      <md-progress-linear
                        md-mode="determinate"
                        ng-show="uploader.isUploading"
                        value="{{stat.progress}}"></md-progress-linear>
                  </span>
                  <span>
                      {{stat.message}}
                  </span>

                  <!--The right side-->
                  <span>
                    <button type="button" class="btn btn-success btn-s"
                            ng-show="!uploader.isUploading"
                            ng-click="onUploadTriggered()"
                            ng-="{{stat.uploadButtonEnabled}}">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s"
                          ng-click="uploader.abortUpload()"
                          ng-show="uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                          ng-disabled="uploader.queue.length<0">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>

                  </span>
                </div>


                <!--<div>-->
                <!--<div>-->
                <!--Queue progress:-->
                <!--<div class="progress" style="">-->
                <!--<progressbar animate="true" value="stat.progress" type="success"><b>{{stat.progress}}%</b>-->
                <!--</progressbar>-->
                <!--</div>-->
                <!--<div>{{stat.message}}</div>-->
                <!--</div>-->

                <!--<button type="button" class="btn btn-success btn-s" ng-click="onUploadTriggered()"-->
                <!--ng-disabled="{{stat.uploadButtonEnabled}}">-->
                <!--<span class="glyphicon glyphicon-upload"></span> Upload all-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"-->
                <!--ng-disabled="!uploader.isUploading">-->
                <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel all-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"-->
                <!--ng-disabled="!uploader.queue.length">-->
                <!--<span class="glyphicon glyphicon-trash"></span> Remove all-->
                <!--</button>-->

                <!--<button type="button" class="btn btn-danger btn-s" ng-click="fupload()">-->
                <!--<span class="glyphicon glyphicon-trash"></span>fuploader-->
                <!--</button>-->
                <!--</div>-->
              </div>


            </div>
          </div>
        </div>


      </form>

      <!-- / CONTENT -->
    </div>
  </div>
  <!-- / CONTENT CARD -->

</div>

<!-- / CENTER -->

